<ion-header [translucent]="true">
<ion-toolbar>
  <ion-title> Pokedex </ion-title>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-thumbnail>
  <img
    src="https://cdn.dribbble.com/users/1771704/screenshots/6124573/attachments/1313609/pokeball.gif"
  />
</ion-thumbnail>

<ion-item *ngFor="let pokemon of listaPokemon">
  <ion-thumbnail slot="start">
    <img
      src="https://th.bing.com/th/id/R.128d3c8bca7a2356bb989305f14cd5ea?rik=YfRBDU%2f3gcbLBg&riu=http%3a%2f%2forig02.deviantart.net%2f37b5%2ff%2f2013%2f125%2f1%2ff%2f_001_bulbasaur_by_nasakii-d6463d5.gif&ehk=LkGiL%2fiot4sYiSZzgFjAUkhCj2HbjYgZFwMFtbUWXAQ%3d&risl=&pid=ImgRaw&r=0"
    />
  </ion-thumbnail>

  <div>
    <ion-label>{{ pokemon.name | uppercase }}</ion-label>

    <ion-label>Nº 001 </ion-label>
    <ion-badge color="grass">Grass</ion-badge>
    <ion-badge color="poison">Poison</ion-badge>
  </div>
</ion-item>
</ion-content>
