<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
 Pokedex
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-thumbnail>
    <img src="https://cdn.dribbble.com/users/1771704/screenshots/6124573/attachments/1313609/pokeball.gif">
  </ion-thumbnail>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://th.bing.com/th/id/R.128d3c8bca7a2356bb989305f14cd5ea?rik=YfRBDU%2f3gcbLBg&riu=http%3a%2f%2forig02.deviantart.net%2f37b5%2ff%2f2013%2f125%2f1%2ff%2f_001_bulbasaur_by_nasakii-d6463d5.gif&ehk=LkGiL%2fiot4sYiSZzgFjAUkhCj2HbjYgZFwMFtbUWXAQ%3d&risl=&pid=ImgRaw&r=0">

    </ion-thumbnail>

    <ion-label>Bulbasaur</ion-label>
    <ion-label>Nº 001 </ion-label>
  </ion-item>



  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://th.bing.com/th/id/R.00da74900f997766baa04acac06ed5b6?rik=CTdo0genkFfh3w&pid=ImgRaw&r=0">
    </ion-thumbnail>
    <ion-label>Charizard</ion-label>
    <ion-label>Nº 004 </ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://th.bing.com/th/id/R.568243b5df0d10cc74e2252625790216?rik=EVmr%2f1nIDFTGKg&pid=ImgRaw&r=0">
    </ion-thumbnail>
    <ion-label>Squirtler</ion-label>
    <ion-label>Nº 007 </ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://media1.tenor.com/images/dc35faebb3d69c42d81fe341183a5b64/tenor.gif?itemid=17711562">
    </ion-thumbnail>
    <ion-label>Pikachu</ion-label>
    <ion-label>Nº 025 </ion-label>
  </ion-item>


</ion-content>
